name: Compile

on:
  push:
    branches: [main]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.ADMIN_GITHUB_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - run: yarn install --prod
      - run: yarn global add @vercel/ncc

      - name: Compile modules
        run: ncc build index.js --license licenses.txt

      - name: Push compiled action
        env:
          GITHUB_TOKEN: ${{ env.ADMIN_GITHUB_TOKEN }}
        run: |
          git config --global user.name 'CI'
          git config --global user.email 'eli.segal@gmail.com'
          git diff --quiet HEAD || git commit -am "ci:Action compiled by ncc"
          git push

