name: Integration Test

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: yarn
      - run: yarn compile

      - name: Set alert values
        run: |
          export ALIAS=create-alert-int-test-$(date +%s)
          export MESSAGE="Create alert integration test"
          echo "ALERT_ALIAS=$(echo -n $ALIAS)" >> $GITHUB_ENV
          echo "MESSAGE=$(echo -n $MESSAGE)" >> $GITHUB_ENV

      - name: Create OpsGenie Alert
        uses: ./
        with:
          api_key: ${{ secrets.OPSGENIE_API_KEY }}
          alias: ${{ env.ALERT_ALIAS }}
          message: ${{ env.MESSAGE }}
          priority: P5
          tags: kuku
          using_eu_url: false

      - name: Assert alert created
        env:
          OPSGENIE_API_KEY: ${{ secrets.OPSGENIE_API_KEY }}
        run: |
          ./.github/workflows/assert_alert_created_with.js \
          ${{ env.ALERT_ALIAS }} \
          "${{ env.MESSAGE }}" \
          P5 \
          kuku

